* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color-1: #495E57;
    --primary-color-2: #F4CE14;

    --secondary-color-1: #EE9972;
    --secondary-color-2: #FBDABB;
    --secondary-color-3: #EDEFEE;
    --secondary-color-4: #333333;

    --border-radius: 1.6rem;

    --font-family-1: "Markazi Text";
    --font-family-2: "Karla";

    --content-width: 960px;

    --general-padding: 1rem;

    --general-margin: 1.5rem;
}

/* Typography */

.title {
    font-family: var(--font-family-1);
    font-weight: 500;
    font-size: 6.4rem;
}

.subtitle {
    font-family: var(--font-family-1);
    font-weight: 400;
    font-size: 4rem;
}

.call-to-action {
    font-family: var(--font-family-2);
    font-weight: 500;
    font-size: 1.8rem;
}

.section-title-up {
    font-family: var(--font-family-2);
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
}

.section-title {
    font-family: var(--font-family-2);
    font-weight: 800;
    font-size: 2rem;
}

.section-category {
    font-family: var(--font-family-2);
    font-weight: 800;
    font-size: 1.6rem;
}

.card-title {
    font-family: var(--font-family-2);
    font-weight: 700;
    font-size: 1.8rem;
}

.paragraph {
    font-family: var(--font-family-2);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
}

.highlight {
    font-family: var(--font-family-2);
    font-weight: 500;
    font-size: 1.6rem;
}

/* Header */

.header {
    width: var(--content-width);
    padding: var(--general-padding);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
}

.header__logo {
    width: 100%;
}

.header__logo-link {
    display: flex;
    align-items: center;
    padding: var(--general-padding);
}

.header__logo-img {
    width: 100%;
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    margin-top: var(--general-margin);
}

/* Footer */

.footer {
    width: var(--content-width);
    padding: var(--general-padding);
    margin: var(--general-padding) auto auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.footer__section {
    padding: var(--general-padding);
}

.footer__logo {
    width: 60%;
}

.footer__logo-link {
    display: flex;
    align-items: center;
}

.footer__logo-img {
    width: 100%;
}

.footer__list {
    margin-top: 1.5rem;
    list-style-type: none;
}

.footer__list-item-link {
    text-decoration: none;
    color: black;
}

/* Nav */

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__items {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    column-gap: 2rem;
}

.nav__item-link {
    display: block;
    text-decoration: none;
    padding: var(--general-padding);
    color: black;
}

/* ActionButton */
.action-btn {
    width: 20rem;
    height: 6rem;
    background-color: var(--primary-color-2);
    border-radius: var(--border-radius);
    border: none;
    color: black;
    text-align: center;
    padding: var(--general-padding);
}

/* Jumbotron */

.jumbotron {
    background-color: var(--primary-color-1);
    min-width: var(--content-width);
    margin-bottom: 5rem;
}

.jumbotron__content {
    width: var(--content-width);
    margin: 0 auto;
    padding: var(--general-padding);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.jumbotron__desc {
    color: #FFFFFF;
    padding: var(--general-padding);
}

.jumbotron__title {
    color: var(--primary-color-2);
}

.jumbotron__text {
    margin: 3rem 0;
}

.jumbotron__img {
    padding: var(--general-padding);
    width: 60%;
    border-radius: var(--border-radius);
    margin: 0 0 -7rem;
}

/* Specials */
.specials {
    width: var(--content-width);
    margin: var(--general-margin) auto auto;
    padding: var(--general-padding);
}

.specials__main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: left;
    align-items: center;
    padding: var(--general-padding);
}

.specials__cards {
    margin-top: var(--general-margin);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 2rem;
}

/* Card */

.card {
    background-color: var(--secondary-color-3);
    padding-bottom: var(--general-padding);

}

.card__img {
    width: 100%;
    height: 50%;
}

.card, .card__img {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.card__info {
    padding: var(--general-padding);
    height: 35%;
}

.card__main {
    display: flex;
    justify-content: space-between;
    margin-top: var(--general-margin);
}

.card__price {
    color: var(--secondary-color-1);
}

.card__desc {
    margin-top: var(--general-margin);
}

.card__btn {
    padding: var(--general-padding);
    border: none;
    background-color: var(--secondary-color-3);
    margin-top: var(--general-margin);
}

.card__btn:hover {
    cursor: pointer;
}
